<section appScrollreveal class="hero"
  [direction] = "'left'"
  [distance] = '15'
>
  <div class="hero-text">
    <!-- <h5>Full Stack Developer</h5>
    <h4>Software Developer II - Brandes Associates</h4> -->
    <h1>Software Developer</h1>
    <p>Hi I am Matthew Tolentino, welcome to my website! <br> 
    Please look around and feel free to contact me with any opportunities!</p>
    <a href="#">GitHub</a>
    <!-- <a href="#" class="ctaa"><i class="ri-play-fill"></i>Projects</a> -->
    <a href="#" class="proj-link">Projects</a>
  </div>

  <div class="hero-img">
    <img src="../../assets/imgs/Hero.JPG">
  </div>
</section>

<div class="icons">
  <a href="#"><i class="ri-instagram-line"></i></a>
  <a href="#"><i class="ri-github-line"></i></a>
  <a href="#"><i class="ri-youtube-line"></i></a>
</div>